PORT=3001
SUPABASE_URL=https://zijrgwjnakevlvwsjwtz.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppanJnd2puYWtldmx2d3Nqd3R6Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTE5NTYyMCwiZXhwIjoyMDkwNzcxNjIwfQ.LwzbdL_DrRgJirKnlwKgh6lb4Kwn1jMWyKEypnXg9AA
CLIENT_ORIGIN=http://localhost:3000
CLIENT_ORIGIN=http://localhost:3000
